# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [9]:
import pandas as pd

df = pd.read_csv (r'C:\Users\pooja.krishnappa\Downloads\Iris.csv')   #read the csv file (put 'r' before the path string to address any special characters, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
print (df)

     Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                     5.1                  3.5                   1.4
1                     4.9                  3.0                   1.4
2                     4.7                  3.2                   1.3
3                     4.6                  3.1                   1.5
4                     5.0                  3.6                   1.4
5                     5.4                  3.9                   1.7
6                     4.6                  3.4                   1.4
7                     5.0                  3.4                   1.5
8                     4.4                  2.9                   1.4
9                     4.9                  3.1                   1.5
10                    5.4                  3.7                   1.5
11                    4.8                  3.4                   1.6
12                    4.8                  3.0                   1.4
13                    4.3                  3.0                   1.1
14                    5.8                  4.0                   1.2
15                    5.7                  4.4                   1.5
16                    5.4                  3.9                   1.3
17                    5.1                  3.5                   1.4
18                    5.7                  3.8                   1.7
19                    5.1                  3.8                   1.5
20                    5.4                  3.4                   1.7
21                    5.1                  3.7                   1.5
22                    4.6                  3.6                   1.0
23                    5.1                  3.3                   1.7
24                    4.8                  3.4                   1.9
25                    5.0                  3.0                   1.6
26                    5.0                  3.4                   1.6
27                    5.2                  3.5                   1.5
28                    5.2                  3.4                   1.4
29                    4.7                  3.2                   1.6
..                    ...                  ...                   ...
120                   6.9                  3.2                   5.7
121                   5.6                  2.8                   4.9
122                   7.7                  2.8                   6.7
123                   6.3                  2.7                   4.9
124                   6.7                  3.3                   5.7
125                   7.2                  3.2                   6.0
126                   6.2                  2.8                   4.8
127                   6.1                  3.0                   4.9
128                   6.4                  2.8                   5.6
129                   7.2                  3.0                   5.8
130                   7.4                  2.8                   6.1
131                   7.9                  3.8                   6.4
132                   6.4                  2.8                   5.6
133                   6.3                  2.8                   5.1
134                   6.1                  2.6                   5.6
135                   7.7                  3.0                   6.1
136                   6.3                  3.4                   5.6
137                   6.4                  3.1                   5.5
138                   6.0                  3.0                   4.8
139                   6.9                  3.1                   5.4
140                   6.7                  3.1                   5.6
141                   6.9                  3.1                   5.1
142                   5.8                  2.7                   5.1
143                   6.8                  3.2                   5.9
144                   6.7                  3.3                   5.7
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class
0                    0.2     Iris-setosa
1                    0.2     Iris-setosa
2                    0.2     Iris-setosa
3                    0.2     Iris-setosa
4                    0.2     Iris-setosa
5                    0.4     Iris-setosa
6                    0.3     Iris-setosa
7                    0.2     Iris-setosa
8                    0.2     Iris-setosa
9                    0.1     Iris-setosa
10                   0.2     Iris-setosa
11                   0.2     Iris-setosa
12                   0.1     Iris-setosa
13                   0.1     Iris-setosa
14                   0.2     Iris-setosa
15                   0.4     Iris-setosa
16                   0.4     Iris-setosa
17                   0.3     Iris-setosa
18                   0.3     Iris-setosa
19                   0.3     Iris-setosa
20                   0.2     Iris-setosa
21                   0.4     Iris-setosa
22                   0.2     Iris-setosa
23                   0.5     Iris-setosa
24                   0.2     Iris-setosa
25                   0.2     Iris-setosa
26                   0.4     Iris-setosa
27                   0.2     Iris-setosa
28                   0.2     Iris-setosa
29                   0.2     Iris-setosa
..                   ...             ...
120                  2.3  Iris-virginica
121                  2.0  Iris-virginica
122                  2.0  Iris-virginica
123                  1.8  Iris-virginica
124                  2.1  Iris-virginica
125                  1.8  Iris-virginica
126                  1.8  Iris-virginica
127                  1.8  Iris-virginica
128                  2.1  Iris-virginica
129                  1.6  Iris-virginica
130                  1.9  Iris-virginica
131                  2.0  Iris-virginica
132                  2.2  Iris-virginica
133                  1.5  Iris-virginica
134                  1.4  Iris-virginica
135                  2.3  Iris-virginica
136                  2.4  Iris-virginica
137                  1.8  Iris-virginica
138                  1.8  Iris-virginica
139                  2.1  Iris-virginica
140                  2.4  Iris-virginica
141                  2.3  Iris-virginica
142                  1.9  Iris-virginica
143                  2.3  Iris-virginica
144                  2.5  Iris-virginica
145                  2.3  Iris-virginica
146                  1.9  Iris-virginica
147                  2.0  Iris-virginica
148                  2.3  Iris-virginica
149                  1.8  Iris-virginica

[150 rows x 5 columns]

### Find out the datatypes of each and every column

In [10]:
df.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print top 10 & bottom 10 samples from the dataframe

In [11]:
df.head(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [12]:
df.tail(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Find the shape of the dataset

In [13]:
#get the shape of the data frame
df.shape

(150, 5)

Set the index of the dataframe to be the first column

In [14]:
# setting Sepal Length as index column 
df.set_index("Sepal Length (in cm)")

,Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa
5.4,3.7,1.5,0.2,Iris-setosa
4.8,3.4,1.6,0.2,Iris-setosa
4.8,3.0,1.4,0.1,Iris-setosa
4.3,3.0,1.1,0.1,Iris-setosa
5.8,4.0,1.2,0.2,Iris-setosa
5.7,4.4,1.5,0.4,Iris-setosa
5.4,3.9,1.3,0.4,Iris-setosa
5.1,3.5,1.4,0.3,Iris-setosa
5.7,3.8,1.7,0.3,Iris-setosa
5.1,3.8,1.5,0.3,Iris-setosa
5.4,3.4,1.7,0.2,Iris-setosa
5.1,3.7,1.5,0.4,Iris-setosa
4.6,3.6,1.0,0.2,Iris-setosa
5.1,3.3,1.7,0.5,Iris-setosa
4.8,3.4,1.9,0.2,Iris-setosa
5.0,3.0,1.6,0.2,Iris-setosa
5.0,3.4,1.6,0.4,Iris-setosa
5.2,3.5,1.5,0.2,Iris-setosa
5.2,3.4,1.4,0.2,Iris-setosa
4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...
6.9,3.2,5.7,2.3,Iris-virginica
5.6,2.8,4.9,2.0,Iris-virginica
7.7,2.8,6.7,2.0,Iris-virginica
6.3,2.7,4.9,1.8,Iris-virginica
6.7,3.3,5.7,2.1,Iris-virginica
7.2,3.2,6.0,1.8,Iris-virginica
6.2,2.8,4.8,1.8,Iris-virginica
6.1,3.0,4.9,1.8,Iris-virginica
6.4,2.8,5.6,2.1,Iris-virginica
7.2,3.0,5.8,1.6,Iris-virginica
7.4,2.8,6.1,1.9,Iris-virginica
7.9,3.8,6.4,2.0,Iris-virginica
6.4,2.8,5.6,2.2,Iris-virginica
6.3,2.8,5.1,1.5,Iris-virginica
6.1,2.6,5.6,1.4,Iris-virginica
7.7,3.0,6.1,2.3,Iris-virginica
6.3,3.4,5.6,2.4,Iris-virginica
6.4,3.1,5.5,1.8,Iris-virginica
6.0,3.0,4.8,1.8,Iris-virginica
6.9,3.1,5.4,2.1,Iris-virginica
6.7,3.1,5.6,2.4,Iris-virginica
6.9,3.1,5.1,2.3,Iris-virginica
5.8,2.7,5.1,1.9,Iris-virginica
6.8,3.2,5.9,2.3,Iris-virginica
6.7,3.3,5.7,2.5,Iris-virginica
6.7,3.0,5.2,2.3,Iris-virginica
6.3,2.5,5.0,1.9,Iris-virginica
6.5,3.0,5.2,2.0,Iris-virginica
6.2,3.4,5.4,2.3,Iris-virginica
5.9,3.0,5.1,1.8,Iris-virginica

### Use iloc function to print all the rows of the 3rd column

In [15]:
df.iloc[:,2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
5      1.7
6      1.4
7      1.5
8      1.4
9      1.5
10     1.5
11     1.6
12     1.4
13     1.1
14     1.2
15     1.5
16     1.3
17     1.4
18     1.7
19     1.5
20     1.7
21     1.5
22     1.0
23     1.7
24     1.9
25     1.6
26     1.6
27     1.5
28     1.4
29     1.6
      ...
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal length (in cm), Length: 150, dtype: float64

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [16]:
df.iloc[:10,0:2]

   Sepal Length (in cm)  Sepal Width in (cm)
0                   5.1                  3.5
1                   4.9                  3.0
2                   4.7                  3.2
3                   4.6                  3.1
4                   5.0                  3.6
5                   5.4                  3.9
6                   4.6                  3.4
7                   5.0                  3.4
8                   4.4                  2.9
9                   4.9                  3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [17]:
df.loc[(df["Class"]=="Iris-setosa"), ["Sepal Length (in cm)","Sepal Width in (cm)", "Petal length (in cm)","Petal width (in cm)","Class"]]

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
43,5.0,3.5,1.6,0.6,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [27]:
df[['Sepal Length (in cm)', 'Sepal Width in (cm)']] = df[['Sepal Length (in cm)', 'Sepal Width in (cm)']].astype(float)

In [32]:
df['SepalExtra'] = df['Sepal Length (in cm)'] * df['Sepal Width in (cm)']
print(df)

     Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                     5.1                  3.5                   1.4
1                     4.9                  3.0                   1.4
2                     4.7                  3.2                   1.3
3                     4.6                  3.1                   1.5
4                     5.0                  3.6                   1.4
5                     5.4                  3.9                   1.7
6                     4.6                  3.4                   1.4
7                     5.0                  3.4                   1.5
8                     4.4                  2.9                   1.4
9                     4.9                  3.1                   1.5
10                    5.4                  3.7                   1.5
11                    4.8                  3.4                   1.6
12                    4.8                  3.0                   1.4
13                    4.3                  3.0                   1.1
14                    5.8                  4.0                   1.2
15                    5.7                  4.4                   1.5
16                    5.4                  3.9                   1.3
17                    5.1                  3.5                   1.4
18                    5.7                  3.8                   1.7
19                    5.1                  3.8                   1.5
20                    5.4                  3.4                   1.7
21                    5.1                  3.7                   1.5
22                    4.6                  3.6                   1.0
23                    5.1                  3.3                   1.7
24                    4.8                  3.4                   1.9
25                    5.0                  3.0                   1.6
26                    5.0                  3.4                   1.6
27                    5.2                  3.5                   1.5
28                    5.2                  3.4                   1.4
29                    4.7                  3.2                   1.6
..                    ...                  ...                   ...
120                   6.9                  3.2                   5.7
121                   5.6                  2.8                   4.9
122                   7.7                  2.8                   6.7
123                   6.3                  2.7                   4.9
124                   6.7                  3.3                   5.7
125                   7.2                  3.2                   6.0
126                   6.2                  2.8                   4.8
127                   6.1                  3.0                   4.9
128                   6.4                  2.8                   5.6
129                   7.2                  3.0                   5.8
130                   7.4                  2.8                   6.1
131                   7.9                  3.8                   6.4
132                   6.4                  2.8                   5.6
133                   6.3                  2.8                   5.1
134                   6.1                  2.6                   5.6
135                   7.7                  3.0                   6.1
136                   6.3                  3.4                   5.6
137                   6.4                  3.1                   5.5
138                   6.0                  3.0                   4.8
139                   6.9                  3.1                   5.4
140                   6.7                  3.1                   5.6
141                   6.9                  3.1                   5.1
142                   5.8                  2.7                   5.1
143                   6.8                  3.2                   5.9
144                   6.7                  3.3                   5.7
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class  SepalExtra
0                    0.2     Iris-setosa       17.85
1                    0.2     Iris-setosa       14.70
2                    0.2     Iris-setosa       15.04
3                    0.2     Iris-setosa       14.26
4                    0.2     Iris-setosa       18.00
5                    0.4     Iris-setosa       21.06
6                    0.3     Iris-setosa       15.64
7                    0.2     Iris-setosa       17.00
8                    0.2     Iris-setosa       12.76
9                    0.1     Iris-setosa       15.19
10                   0.2     Iris-setosa       19.98
11                   0.2     Iris-setosa       16.32
12                   0.1     Iris-setosa       14.40
13                   0.1     Iris-setosa       12.90
14                   0.2     Iris-setosa       23.20
15                   0.4     Iris-setosa       25.08
16                   0.4     Iris-setosa       21.06
17                   0.3     Iris-setosa       17.85
18                   0.3     Iris-setosa       21.66
19                   0.3     Iris-setosa       19.38
20                   0.2     Iris-setosa       18.36
21                   0.4     Iris-setosa       18.87
22                   0.2     Iris-setosa       16.56
23                   0.5     Iris-setosa       16.83
24                   0.2     Iris-setosa       16.32
25                   0.2     Iris-setosa       15.00
26                   0.4     Iris-setosa       17.00
27                   0.2     Iris-setosa       18.20
28                   0.2     Iris-setosa       17.68
29                   0.2     Iris-setosa       15.04
..                   ...             ...         ...
120                  2.3  Iris-virginica       22.08
121                  2.0  Iris-virginica       15.68
122                  2.0  Iris-virginica       21.56
123                  1.8  Iris-virginica       17.01
124                  2.1  Iris-virginica       22.11
125                  1.8  Iris-virginica       23.04
126                  1.8  Iris-virginica       17.36
127                  1.8  Iris-virginica       18.30
128                  2.1  Iris-virginica       17.92
129                  1.6  Iris-virginica       21.60
130                  1.9  Iris-virginica       20.72
131                  2.0  Iris-virginica       30.02
132                  2.2  Iris-virginica       17.92
133                  1.5  Iris-virginica       17.64
134                  1.4  Iris-virginica       15.86
135                  2.3  Iris-virginica       23.10
136                  2.4  Iris-virginica       21.42
137                  1.8  Iris-virginica       19.84
138                  1.8  Iris-virginica       18.00
139                  2.1  Iris-virginica       21.39
140                  2.4  Iris-virginica       20.77
141                  2.3  Iris-virginica       21.39
142                  1.9  Iris-virginica       15.66
143                  2.3  Iris-virginica       21.76
144                  2.5  Iris-virginica       22.11
145                  2.3  Iris-virginica       20.10
146                  1.9  Iris-virginica       15.75
147                  2.0  Iris-virginica       19.50
148                  2.3  Iris-virginica       21.08
149                  1.8  Iris-virginica       17.70

[150 rows x 6 columns]

### Find out the mean and variance for each column but for class column

In [35]:
#calculate the mean of all columns
df.mean()

Sepal Length (in cm)     5.843333
Sepal Width in (cm)      3.054000
Petal length (in cm)     3.758667
Petal width (in cm)      1.198667
SepalExtra              17.806533
dtype: float64

In [36]:
#calculate variance of each column
df.var(axis=0)

Sepal Length (in cm)     0.685694
Sepal Width in (cm)      0.188004
Petal length (in cm)     3.113179
Petal width (in cm)      0.582414
SepalExtra              11.348090
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [48]:
#def f(x):
   # return x[0] + x[1]
#df['col_3'] = df.apply(lambda x: f(x.col_1, x.col_2), axis=1)
#print(df)
df.iloc[5:6,1]

136    3.4
Name: Sepal Width in (cm), dtype: float64

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [40]:
range = df.max()-df.min()

TypeError: unsupported operand type(s) for -: 'float' and 'str'

### Sort the entire dataset according to the column Petal width

In [47]:
df.sort_values(by ='Petal width (in cm)',ascending=False, inplace=False, na_position='last' )

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
109,7.2,3.6,6.1,2.5,Iris-virginica,25.92
144,6.7,3.3,5.7,2.5,Iris-virginica,22.11
100,6.3,3.3,6.0,2.5,Iris-virginica,20.79
114,5.8,2.8,5.1,2.4,Iris-virginica,16.24
140,6.7,3.1,5.6,2.4,Iris-virginica,20.77
136,6.3,3.4,5.6,2.4,Iris-virginica,21.42
115,6.4,3.2,5.3,2.3,Iris-virginica,20.48
148,6.2,3.4,5.4,2.3,Iris-virginica,21.08
141,6.9,3.1,5.1,2.3,Iris-virginica,21.39
120,6.9,3.2,5.7,2.3,Iris-virginica,22.08
118,7.7,2.6,6.9,2.3,Iris-virginica,20.02
135,7.7,3.0,6.1,2.3,Iris-virginica,23.10
143,6.8,3.2,5.9,2.3,Iris-virginica,21.76
145,6.7,3.0,5.2,2.3,Iris-virginica,20.10
104,6.5,3.0,5.8,2.2,Iris-virginica,19.50
132,6.4,2.8,5.6,2.2,Iris-virginica,17.92
117,7.7,3.8,6.7,2.2,Iris-virginica,29.26
112,6.8,3.0,5.5,2.1,Iris-virginica,20.40
102,7.1,3.0,5.9,2.1,Iris-virginica,21.30
139,6.9,3.1,5.4,2.1,Iris-virginica,21.39
124,6.7,3.3,5.7,2.1,Iris-virginica,22.11
128,6.4,2.8,5.6,2.1,Iris-virginica,17.92
105,7.6,3.0,6.6,2.1,Iris-virginica,22.80
110,6.5,3.2,5.1,2.0,Iris-virginica,20.80
131,7.9,3.8,6.4,2.0,Iris-virginica,30.02
113,5.7,2.5,5.0,2.0,Iris-virginica,14.25
147,6.5,3.0,5.2,2.0,Iris-virginica,19.50
122,7.7,2.8,6.7,2.0,Iris-virginica,21.56
121,5.6,2.8,4.9,2.0,Iris-virginica,15.68
111,6.4,2.7,5.3,1.9,Iris-virginica,17.28
...,...,...,...,...,...,...
36,5.5,3.5,1.3,0.2,Iris-setosa,19.25
33,5.5,4.2,1.4,0.2,Iris-setosa,23.10
30,4.8,3.1,1.6,0.2,Iris-setosa,14.88
27,5.2,3.5,1.5,0.2,Iris-setosa,18.20
28,5.2,3.4,1.4,0.2,Iris-setosa,17.68
46,5.1,3.8,1.6,0.2,Iris-setosa,19.38
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85
49,5.0,3.3,1.4,0.2,Iris-setosa,16.50
48,5.3,3.7,1.5,0.2,Iris-setosa,19.61
29,4.7,3.2,1.6,0.2,Iris-setosa,15.04
10,5.4,3.7,1.5,0.2,Iris-setosa,19.98
11,4.8,3.4,1.6,0.2,Iris-setosa,16.32
25,5.0,3.0,1.6,0.2,Iris-setosa,15.00
22,4.6,3.6,1.0,0.2,Iris-setosa,16.56
20,5.4,3.4,1.7,0.2,Iris-setosa,18.36
35,5.0,3.2,1.2,0.2,Iris-setosa,16.00
24,4.8,3.4,1.9,0.2,Iris-setosa,16.32
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70
14,5.8,4.0,1.2,0.2,Iris-setosa,23.20
7,5.0,3.4,1.5,0.2,Iris-setosa,17.00
8,4.4,2.9,1.4,0.2,Iris-setosa,12.76
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26
9,4.9,3.1,1.5,0.1,Iris-setosa,15.19
37,4.9,3.1,1.5,0.1,Iris-setosa,15.19
13,4.3,3.0,1.1,0.1,Iris-setosa,12.90
12,4.8,3.0,1.4,0.1,Iris-setosa,14.40
34,4.9,3.1,1.5,0.1,Iris-setosa,15.19
32,5.2,4.1,1.5,0.1,Iris-setosa,21.32

### Remove the new column "SepalExtra" from the dataframe

In [44]:
df.drop(columns=['SepalExtra'])

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
109,7.2,3.6,6.1,2.5,Iris-virginica
100,6.3,3.3,6.0,2.5,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
114,5.8,2.8,5.1,2.4,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
115,6.4,3.2,5.3,2.3,Iris-virginica
120,6.9,3.2,5.7,2.3,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
105,7.6,3.0,6.6,2.1,Iris-virginica
112,6.8,3.0,5.5,2.1,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
139,6.9,3.1,5.4,2.1,Iris-virginica
110,6.5,3.2,5.1,2.0,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
113,5.7,2.5,5.0,2.0,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica
101,5.8,2.7,5.1,1.9,Iris-virginica
...,...,...,...,...,...
8,4.4,2.9,1.4,0.2,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
0,5.1,3.5,1.4,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [64]:
IrisSubset = df.iloc[0:10,0:3]
print(IrisSubset)

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [20]:
import numpy as np 
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [21]:
ds = pd.read_csv(r'C:\Users\pooja.krishnappa\Downloads\HR_external.txt', delim_whitespace=True)
print(ds)

     Individual Attrition  Age  BusinessTravel  DailyRate  Department  \
0          Ind1       Yes   41               1       1102           1
1          Ind2        No   49               2        279           2
2          Ind3       Yes   37               1       1373           2
3          Ind4        No   33               2       1392           2
4          Ind5        No   27               1        591           2
5          Ind6        No   32               2       1005           2
6          Ind7        No   59               1       1324           2
7          Ind8        No   30               1       1358           2
8          Ind9        No   38               2        216           2
9         Ind10        No   36               1       1299           2
10        Ind11        No   35               1        809           2
11        Ind12        No   29               1        153           2
12        Ind13        No   31               1        670           2
13        Ind14        No   34               1       1346           2
14        Ind15       Yes   28               1        103           2
15        Ind16        No   29               1       1389           2
16        Ind17        No   32               1        334           2
17        Ind18        No   22               3       1123           2
18        Ind19        No   53               1       1219           1
19        Ind20        No   38               1        371           2
20        Ind21        No   24               3        673           2
21        Ind22       Yes   36               1       1218           1
22        Ind23        No   34               1        419           2
23        Ind24        No   21               1        391           2
24        Ind25       Yes   34               1        699           2
25        Ind26        No   53               1       1282           2
26        Ind27       Yes   32               2       1125           2
27        Ind28        No   42               1        691           1
28        Ind29        No   44               1        477           2
29        Ind30        No   46               1        705           1
...         ...       ...  ...             ...        ...         ...
1440    Ind1441        No   36               2        688           2
1441    Ind1442        No   56               3        667           2
1442    Ind1443       Yes   29               1       1092           2
1443    Ind1444        No   42               1        300           2
1444    Ind1445       Yes   56               1        310           2
1445    Ind1446        No   41               1        582           2
1446    Ind1447        No   34               1        704           1
1447    Ind1448        No   36               3        301           1
1448    Ind1449        No   41               1        930           1
1449    Ind1450        No   32               1        529           2
1450    Ind1451        No   35               1       1146           3
1451    Ind1452        No   38               1        345           1
1452    Ind1453       Yes   50               2        878           1
1453    Ind1454        No   36               1       1120           1
1454    Ind1455        No   45               1        374           1
1455    Ind1456        No   40               1       1322           2
1456    Ind1457        No   35               2       1199           2
1457    Ind1458        No   40               1       1194           2
1458    Ind1459        No   35               1        287           2
1459    Ind1460        No   29               1       1378           2
1460    Ind1461        No   29               1        468           2
1461    Ind1462       Yes   50               1        410           1
1462    Ind1463        No   39               1        722           1
1463    Ind1464        No   31               3        325           2
1464    Ind1465        No   26               1       1167           1
1465    Ind1466        No   36               2        884           2
1466    Ind1467        No   39               1        613           2
1467    Ind1468        No   27               1        155           2
1468    Ind1469        No   49               2       1023           1
1469    Ind1470        No   34               1        628           2

      DistanceFromHome  Education  EducationField  EmployeeCount  ...  \
0                    1          2               1              1  ...
1                    8          1               1              1  ...
2                    2          2               6              1  ...
3                    3          4               1              1  ...
4                    2          1               2              1  ...
5                    2          2               1              1  ...
6                    3          3               2              1  ...
7                   24          1               1              1  ...
8                   23          3               1              1  ...
9                   27          3               2              1  ...
10                  16          3               2              1  ...
11                  15          2               1              1  ...
12                  26          1               1              1  ...
13                  19          2               2              1  ...
14                  24          3               1              1  ...
15                  21          4               1              1  ...
16                   5          2               1              1  ...
17                  16          2               2              1  ...
18                   2          4               1              1  ...
19                   2          3               1              1  ...
20                  11          2               6              1  ...
21                   9          4               1              1  ...
22                   7          4               1              1  ...
23                  15          2               1              1  ...
24                   6          1               2              1  ...
25                   5          3               6              1  ...
26                  16          1               1              1  ...
27                   8          4               3              1  ...
28                   7          4               2              1  ...
29                   2          4               3              1  ...
...                ...        ...             ...            ...  ...
1440                 4          2               1              1  ...
1441                 1          4               1              1  ...
1442                 1          4               2              1  ...
1443                 2          3               1              1  ...
1444                 7          2               4              1  ...
1445                28          4               1              1  ...
1446                28          3               3              1  ...
1447                15          4               3              1  ...
1448                 3          3               1              1  ...
1449                 2          3               4              1  ...
1450                26          4               1              1  ...
1451                10          2               1              1  ...
1452                 1          4               1              1  ...
1453                11          4               3              1  ...
1454                20          3               1              1  ...
1455                 2          4               1              1  ...
1456                18          4               1              1  ...
1457                 2          4               2              1  ...
1458                 1          4               1              1  ...
1459                13          2               6              1  ...
1460                28          4               2              1  ...
1461                28          3               3              1  ...
1462                24          1               3              1  ...
1463                 5          3               2              1  ...
1464                 5          3               6              1  ...
1465                23          2               2              1  ...
1466                 6          1               2              1  ...
1467                 4          3               1              1  ...
1468                 2          3               2              1  ...
1469                 8          3               2              1  ...

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            1             80                 0
1                            4             80                 1
2                            2             80                 0
3                            3             80                 0
4                            4             80                 1
5                            3             80                 0
6                            1             80                 3
7                            2             80                 1
8                            2             80                 0
9                            2             80                 2
10                           3             80                 1
11                           4             80                 0
12                           4             80                 1
13                           3             80                 1
14                           2             80                 0
15                           3             80                 1
16                           4             80                 2
17                           2             80                 2
18                           3             80                 0
19                           3             80                 0
20                           4             80                 1
21                           2             80                 0
22                           3             80                 0
23                           4             80                 0
24                           3             80                 0
25                           4             80                 1
26                           2             80                 0
27                           4             80                 1
28                           4             80                 1
29                           4             80                 0
...                        ...            ...               ...
1440                         2             80                 3
1441                         1             80                 1
1442                         2             80                 3
1443                         1             80                 0
1444                         4             80                 1
1445                         3             80                 1
1446                         4             80                 2
1447                         1             80                 1
1448                         3             80                 1
1449                         4             80                 0
1450                         3             80                 0
1451                         3             80                 1
1452                         4             80                 2
1453                         1             80                 1
1454                         3             80                 0
1455                         4             80                 0
1456                         4             80                 2
1457                         2             80                 3
1458                         4             80                 1
1459                         1             80                 1
1460                         2             80                 0
1461                         2             80                 1
1462                         1             80                 1
1463                         2             80                 0
1464                         4             80                 0
1465                         3             80                 1
1466                         1             80                 1
1467                         2             80                 1
1468                         4             80                 0
1469                         1             80                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     8                      0                1
1                    10                      3                3
2                     7                      3                3
3                     8                      3                3
4                     6                      3                3
5                     8                      2                2
6                    12                      3                2
7                     1                      2                3
8                    10                      2                3
9                    17                      3                2
10                    6                      5                3
11                   10                      3                3
12                    5                      1                2
13                    3                      2                3
14                    6                      4                3
15                   10                      1                3
16                    7                      5                2
17                    1                      2                2
18                   31                      3                3
19                    6                      3                3
20                    5                      5                2
21                   10                      4                3
22                   13                      4                3
23                    0                      6                3
24                    8                      2                3
25                   26                      3                2
26                   10                      5                3
27                   10                      2                3
28                   24                      4                3
29                   22                      2                2
...                 ...                    ...              ...
1440                 18                      3                3
1441                 13                      2                2
1442                  4                      3                4
1443                 24                      2                2
1444                 14                      4                1
1445                 21                      3                3
1446                  8                      2                3
1447                 15                      4                2
1448                 14                      5                3
1449                  4                      4                3
1450                  9                      2                3
1451                 10                      1                3
1452                 12                      3                3
1453                  8                      2                2
1454                  8                      3                3
1455                  8                      2                3
1456                 10                      2                4
1457                 20                      2                3
1458                  4                      5                3
1459                 10                      2                3
1460                  5                      3                1
1461                 20                      3                3
1462                 21                      2                2
1463                 10                      2                3
1464                  5                      2                3
1465                 17                      3                3
1466                  9                      5                3
1467                  6                      0                3
1468                 17                      3                2
1469                  6                      3                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  6                   4                        0
1                 10                   7                        1
2                  0                   0                        0
3                  8                   7                        3
4                  2                   2                        2
5                  7                   7                        3
6                  1                   0                        0
7                  1                   0                        0
8                  9                   7                        1
9                  7                   7                        7
10                 5                   4                        0
11                 9                   5                        0
12                 5                   2                        4
13                 2                   2                        1
14                 4                   2                        0
15                10                   9                        8
16                 6                   2                        0
17                 1                   0                        0
18                25                   8                        3
19                 3                   2                        1
20                 4                   2                        1
21                 5                   3                        0
22                12                   6                        2
23                 0                   0                        0
24                 4                   2                        1
25                14                  13                        4
26                10                   2                        6
27                 9                   7                        4
28                22                   6                        5
29                 2                   2                        2
...              ...                 ...                      ...
1440               4                   2                        0
1441              13                  12                        1
1442               2                   2                        2
1443              22                   6                        4
1444              10                   9                        9
1445              20                   7                        0
1446               8                   7                        1
1447              15                  12                       11
1448               5                   4                        0
1449               4                   2                        1
1450               9                   0                        1
1451              10                   7                        1
1452               6                   3                        0
1453               6                   3                        0
1454               5                   3                        0
1455               2                   2                        2
1456              10                   2                        0
1457               5                   3                        0

### Print the no of rows and columns in the dataset

In [74]:
ds.shape

(1470, 35)

### Find out the type of each and every column in the dataset

In [75]:
print (ds.dtypes)

Individual                  object
Attrition                   object
Age                          int64
BusinessTravel               int64
DailyRate                    int64
Department                   int64
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                      int64
JobSatisfaction              int64
MaritalStatus                int64
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                     int64
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Print out all the rows from 3rd column to 10th columns

In [77]:
ds.iloc[:, 2:10]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount
0,41,1,1102,1,1,2,1,1
1,49,2,279,2,8,1,1,1
2,37,1,1373,2,2,2,6,1
3,33,2,1392,2,3,4,1,1
4,27,1,591,2,2,1,2,1
5,32,2,1005,2,2,2,1,1
6,59,1,1324,2,3,3,2,1
7,30,1,1358,2,24,1,1,1
8,38,2,216,2,23,3,1,1
9,36,1,1299,2,27,3,2,1
10,35,1,809,2,16,3,2,1
11,29,1,153,2,15,2,1,1
12,31,1,670,2,26,1,1,1
13,34,1,1346,2,19,2,2,1
14,28,1,103,2,24,3,1,1
15,29,1,1389,2,21,4,1,1
16,32,1,334,2,5,2,1,1
17,22,3,1123,2,16,2,2,1
18,53,1,1219,1,2,4,1,1
19,38,1,371,2,2,3,1,1
20,24,3,673,2,11,2,6,1
21,36,1,1218,1,9,4,1,1
22,34,1,419,2,7,4,1,1
23,21,1,391,2,15,2,1,1
24,34,1,699,2,6,1,2,1
25,53,1,1282,2,5,3,6,1
26,32,2,1125,2,16,1,1,1
27,42,1,691,1,8,4,3,1
28,44,1,477,2,7,4,2,1
29,46,1,705,1,2,4,3,1
...,...,...,...,...,...,...,...,...
1440,36,2,688,2,4,2,1,1
1441,56,3,667,2,1,4,1,1
1442,29,1,1092,2,1,4,2,1
1443,42,1,300,2,2,3,1,1
1444,56,1,310,2,7,2,4,1
1445,41,1,582,2,28,4,1,1
1446,34,1,704,1,28,3,3,1
1447,36,3,301,1,15,4,3,1
1448,41,1,930,1,3,3,1,1
1449,32,1,529,2,2,3,4,1
1450,35,1,1146,3,26,4,1,1
1451,38,1,345,1,10,2,1,1
1452,50,2,878,1,1,4,1,1
1453,36,1,1120,1,11,4,3,1
1454,45,1,374,1,20,3,1,1
1455,40,1,1322,2,2,4,1,1
1456,35,2,1199,2,18,4,1,1
1457,40,1,1194,2,2,4,2,1
1458,35,1,287,2,1,4,1,1
1459,29,1,1378,2,13,2,6,1
1460,29,1,468,2,28,4,2,1
1461,50,1,410,1,28,3,3,1
1462,39,1,722,1,24,1,3,1
1463,31,3,325,2,5,3,2,1
1464,26,1,1167,1,5,3,6,1
1465,36,2,884,2,23,2,2,1
1466,39,1,613,2,6,1,2,1
1467,27,1,155,2,4,3,1,1
1468,49,2,1023,1,2,3,2,1
1469,34,1,628,2,8,3,2,1

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [27]:
ds = pd.read_csv(r'C:\Users\pooja.krishnappa\Downloads\HR_external.txt', delim_whitespace=True)
ds.quantile([.25, .75], 'age')

ValueError: No axis named age for object type <class 'type'>

### Find out the mean, median and variance for the column - DailyRate

In [31]:
ds.mean()

Age                            36.923810
BusinessTravel                  1.392517
DailyRate                     802.485714
Department                      1.739456
DistanceFromHome                9.192517
Education                       2.912925
EducationField                  2.153741
EmployeeCount                   1.000000
EmployeeNumber               1024.865306
EnvironmentSatisfaction         2.721769
Gender                          1.400000
HourlyRate                     65.891156
JobInvolvement                  2.729932
JobLevel                        2.063946
JobRole                         3.553061
JobSatisfaction                 2.728571
MaritalStatus                   1.902721
MonthlyIncome                6502.931293
MonthlyRate                 14313.103401
NumCompaniesWorked              2.693197
OverTime                        1.717007
PercentSalaryHike              15.209524
PerformanceRating               3.153741
RelationshipSatisfaction        2.712245
StandardHours                  80.000000
StockOptionLevel                0.793878
TotalWorkingYears              11.279592
TrainingTimesLastYear           2.799320
WorkLifeBalance                 2.761224
YearsAtCompany                  7.008163
YearsInCurrentRole              4.229252
YearsSinceLastPromotion         2.187755
YearsWithCurrManager            4.123129
dtype: float64

In [32]:
ds.median()

Age                            36.0
BusinessTravel                  1.0
DailyRate                     802.0
Department                      2.0
DistanceFromHome                7.0
Education                       3.0
EducationField                  2.0
EmployeeCount                   1.0
EmployeeNumber               1020.5
EnvironmentSatisfaction         3.0
Gender                          1.0
HourlyRate                     66.0
JobInvolvement                  3.0
JobLevel                        2.0
JobRole                         3.0
JobSatisfaction                 3.0
MaritalStatus                   2.0
MonthlyIncome                4919.0
MonthlyRate                 14235.5
NumCompaniesWorked              2.0
OverTime                        2.0
PercentSalaryHike              14.0
PerformanceRating               3.0
RelationshipSatisfaction        3.0
StandardHours                  80.0
StockOptionLevel                1.0
TotalWorkingYears              10.0
TrainingTimesLastYear           3.0
WorkLifeBalance                 3.0
YearsAtCompany                  5.0
YearsInCurrentRole              3.0
YearsSinceLastPromotion         1.0
YearsWithCurrManager            3.0
dtype: float64

In [33]:
ds.var()

Age                         8.345505e+01
BusinessTravel              4.428303e-01
DailyRate                   1.628196e+05
Department                  2.785647e-01
DistanceFromHome            6.572125e+01
Education                   1.048914e+00
EducationField              1.915081e+00
EmployeeCount               1.233434e-32
EmployeeNumber              3.624333e+05
EnvironmentSatisfaction     1.194829e+00
Gender                      2.401634e-01
HourlyRate                  4.132856e+02
JobInvolvement              5.063193e-01
JobLevel                    1.225316e+00
JobRole                     5.400518e+00
JobSatisfaction             1.216270e+00
MaritalStatus               5.330763e-01
MonthlyIncome               2.216486e+07
MonthlyRate                 5.066288e+07
NumCompaniesWorked          6.240049e+00
OverTime                    2.030462e-01
PercentSalaryHike           1.339514e+01
PerformanceRating           1.301936e-01
RelationshipSatisfaction    1.169013e+00
StandardHours               0.000000e+00
StockOptionLevel            7.260346e-01
TotalWorkingYears           6.054056e+01
TrainingTimesLastYear       1.662219e+00
WorkLifeBalance             4.991081e-01
YearsAtCompany              3.753431e+01
YearsInCurrentRole          1.312712e+01
YearsSinceLastPromotion     1.038406e+01
YearsWithCurrManager        1.273160e+01
dtype: float64

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function